body { margin:0; background:#111; color:white; }
canvas { background:#eee; display:block; margin:auto; }

#menu, #pinBox {
  position:absolute; top:10px; left:50%;
  transform:translateX(-50%);
}

#mobile {
  position:fixed;
  bottom:10px;
  left:10px;
}
#mobile button {
  font-size:20px;
  margin:5px;
}
